<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
            content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, 
            minimum-scale=1.0">
    <title>INDEX</title>
</head>
<body>
    <h1>FORM EXAMPLE</h1>
    <form action="/process" method="POST">
        <label for="fer">FIRST NAME</label>
        <input type="text" name="firster" id="fer" placeholder="First Name">
        <br>
        <label for="ler">LAST NAME</label>
        <input type="text" name="laster" id="ler" placeholder="Last Name">
        <br>
        <input type="submit">
    </form>

</body>
<html>